/*GENERAL*/
body{
    font-family: 'Manrope', sans-serif;
    background-image: url(/img/fondoo.jpg);
}

a{text-decoration: none; color: black;}
body{ margin: 0%;}
li{list-style-type: none;}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 21.3px;
}
.amarillo{
    padding: 45px 42px;
    background-color: #ffab03;
}
.naranja{
    padding: 45px 108px;
    background-color: #fc7f03;
}
.rojo{
    padding: 16px 21px;
    background-color: #fc3903;
    border-bottom-left-radius: 63px;
    border-bottom-right-radius: 63px;
    position: relative;
    bottom: 1px;
}
.rosa{
    padding: 45px 71px;
    background-color: #d1024e;
}
.violeta{
    padding: 45px 78px;
    background-color: #a6026c;
}
.p20{padding:20px;}
.p10{padding: 10px;}
.m20{margin: 20px;}
/*INDEX*/
/*----cards-----*/

.verMas{
    background-color: #fc3903;
    border: #fc3903;
    padding: 10px;
    font-size: 20px;
    border-radius: 13px;
    margin: 10px;
    text-align: center;
}
.flexCard{
    display: flex;
    flex-direction: column;
}
.card{
    border-radius: 7px;
    margin: 10px;
    text-align: center;
}
.mainCards{
    display: grid;
    grid-template-areas: 
    "card1 card2 card3 card4"
    "p p p p";
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto;
}
.card1{grid-area: card1; background-color: #a6026c;}
.card2{grid-area: card2; background-color: #fc7f03;}
.card3{grid-area: card3; background-color: #d1024e;}
.card4{grid-area: card4; background-color: #ffab03;}
.pCards{grid-area: p;}

.imgCard1{position: relative; left: 12px;}
.imgCard2{position: relative; left: 21px;}
.imgCard3{position: relative; left: 12px;}
.imgCard4{position: relative; left: 8px; margin: 17px 1px;}
.pCards{
    border: 10px double #fc3903;
    background: rgb(255, 223, 168);
    font-size: 22px;
    color: #fc3903;
    text-align: center;
}
/*-----footer------*/
.btnFooter{
    background-color: rgb(200, 200, 200);
    padding: 5px 120px;
    border-radius: 10px;
    font-size: 25px;
}
footer{
    display: grid;
    grid-template-areas: 
    "titulo titulo titulo"
    "ig tw ayuda"
    "face yt boton";
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: auto auto auto;
}
.redes{grid-area: titulo;}
.ig{grid-area: ig;}
.tw{grid-area: tw;}
.problema{grid-area: ayuda;text-align: center;}
.face{grid-area: face;}
.yt{grid-area: yt;}
.btnFooter{grid-area: boton;}

/*-----info general------*/
.h2izq{
    display: inline-block;
    background-color: #fc3903;
    padding-right: 200px;
    border: 10px solid #fc3903;
    border-end-end-radius: 30px ;
    border-top-right-radius: 30px ;
    position: relative;
    top: 22px;
}
.pMain{
    padding: 19px;
    border: 2px solid #fc3903;
}
.h2der{
    display: inline-block;
    background-color: #fc3903;
    padding-left: 200px;
    border: 10px solid #fc3903;
    border-top-left-radius: 30px;
    border-end-start-radius: 30px;
    position: relative;
    top: 22px;
    left: 835px;
}
main{
    display: grid;
    grid-template-areas: 
    "somos somos"
    "trabaj trabaj"
    "video perroTorta"
    "lugar lugar"
    "flyer flyer"
    "h4 img";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto auto;
}
.somos{grid-area: somos;}
.trabaj{grid-area: trabaj;}
.videoInfo{grid-area: video;     margin: 20px 90px;}
.perroTorta{grid-area: perroTorta;    margin: 20px 132px;}
.lugar{grid-area: lugar;}
.flyerMain{grid-area: flyer;}
.tienda{grid-area: h4;}
.perroCafe{grid-area: img;}

